[user]
    name  = Veronika Romashkina
    email = vrom911@gmail.com
    login = vrom911
    signingkey = A5849E99E6D02B61
[core]
    editor = vim
[commit]
    gpgsign = true
[pull]
    rebase = true
